@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background:turquoise;
}

.wrapper{
    width: 380px;
    background: #fff;
    border-radius: 5px;
}

.wrapper{
    
}